<ul class="list-group">
  <% @bookings.each do |booking| %>
    <li class="list-group-item">
      <%= booking.bookable.title %>
      <small class="text-body-secondary">
        <%= booking.status.capitalize %>
      </small>
    </li>
  <% end %>
</ul>
